// @keyframes slideDown {
//   from {
//     transform: translateY(-100%);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// @keyframes slideUp {
//   from {
//     transform: translateY(0);
//     opacity: 1;
//   }
//   to {
//     transform: translateY(-100%);
//     opacity: 0;
//   }
// }

.rootRotateImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: min-content;
    max-width: 400px;
    box-sizing: border-box;

    .containerIcon {
      display: flex;
      opacity: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: hsla(213, 100%, 50%, 0.7);
      height: 2.8rem;
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
      top: 0;
      border-radius: 12px 12px 0 0;
      z-index: 10;
      transition: opacity 1s, transform 1s;

      .iconImg {
        cursor: pointer;
        font-size: 2rem;
      }
    }

    &:hover .containerIcon {
      opacity: 1;
      transform: translateY(0);
    }

    &:not(:hover) .containerIcon {
      opacity: 0;
      transform: translateY(-100%);
    }

    img {
      max-width: 400px;
      min-width: 400px;
      border-radius: 12px;
    }
  }
}

@media screen and (max-width: 500px) {
  .rootRotateImage {
    .container {
      max-width: 280px;

      .containerIcon {
        max-width: 280px;
      }

      img {
        max-width: 280px;
        min-width: 280px;
        border-radius: 12px;
      }
    }
  }
}
