.rootCustomTooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;

  .containerTable {
    .table {
      thead th:first-child {
        border-radius: 12px 0 0 0 !important;
      }

      thead tr,
      thead th,
      thead td {
        background-color: var(--color-four);
        color: var(--color-two);
        width: 200px;
      }

      thead tr th:last-child {
        border-radius: 0 12px 0 0 !important;
      }
      tbody tr,
      tbody th,
      tbody td {
        background-color: var(--color-three);
        color: var(--color-two);
        width: 200px;
      }
      .trTable:hover th {
        background-color: var(--color-five);
      }

      //
      th span {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      tbody th {
        position: relative;
      }

      tbody th:hover span {
        display: flex;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 0.5rem;
        border-radius: 12px;
        background-color: var(--color-one);
        top: -10px;
        left: 20px;
        width: min-content;
        min-width: 30px;
      }
    }
  }
}

.boxBtnRow {
  button {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
  }
}
