.rootHomeLayout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 3rem;

  overflow-y: scroll;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}
