.rootHomePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: solid;
  border-width: 1px;
  padding: 1rem 2rem 5rem;
  position: absolute;
  top: 2rem;
  min-width: 400px;

  .listhomePage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: solid 2px var(--color-two);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: underline;
  }
}
