:host,
:root {
  --color-one: #fafafa;
  --color-two: #112a46;
  --color-three: #acc8e5;
  --color-four: #82a5ca;
  --color-five: #5caafd;
}

html,
#root,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  color: var(--color-two);
  background-color: var(--color-three);
  font-family: "Times New Roman", Times, serif !important;
}
